<div class="container ">
    <% if flash[:notice] %>
        <div class="alert alert-success center">
            <%= notice %>
        </div>
    <% end %>
    <div class="row">
        <div class="col-lg-3">
            <div class="card mb-5">
                <div class="card-body">
                    <center><%= user_avatar(@user,'profile-avatar') %>
                        <h4 class="text-center"><%= @user.name %></h4>
                        <small class="text-muted"><%= @user.email %></small>
                        <% if current_user?(@user) %>
                            <%= link_to "UPDATE PROFILE", edit_user_path(@user), class: 'btn btn-info' %>
                        <% end %>
                        <div class="btn btn-info text-white mt-3">
                            <h6>#</h6>
                            <small>Words learned</small>
                        </div>
                        <%= render 'shared/user_stats', user: @user %>
                        
                        
                    </center>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="card">
                <div class="card-header">
                    <h6>ACTIVITY FEED</h6>
                </div>
                <div class="card-body">
                    
                </div>
            </div>
        </div>
    </div>
</div>